@import './vars.sass'
button, .button
  padding: $padding-4-md
  border-radius: $radius-md
  font-family: $font-bold
  border: 2px solid $color-grey-darken-3
  outline: none
  font-size: 1.2rem
  cursor: pointer
  transition: 0.3s
  background-color: $color-grey-darken-3
  color: #ffffff
  white-space: nowrap
  text-decoration: none
  display: flex
  align-items: center
  justify-content: center
  text-decoration: none

  &:hover
    transition: 0.3s

  &:hover:not(.vsm-link):not(:disabled):not(.secondary)
    background-color: $color-black

  &.demo-button
    color: #ffffff
    font-family: $font-bold
    line-height: 1rem

  &.small
    padding: 0.75em 1.2em 0.65em 1.2em
    font-size: 1rem

  &.accent
    background-color: $color-accent
    color: $color-accent-darken
    &:hover
      background-color: darken($color-accent, 20%)

  &.translucid
    background-color: rgba(255,255,255,0.1)
    color: #fff

  &.rounded
    border-radius: 50px
    text-transform: uppercase
  &:disabled
    opacity: 0.3
    cursor: default

button.secondary
  background: rgba(#000, 0.03)
  color:#000
  border-color: rgba(#000, 0.07)
  &:hover
    background: rgba(#000, 0.07)

a
  text-decoration: none

.bold-link
  color: $color-primary
  font-weight: 800
  text-decoration: none
  border-bottom: 2px solid transparent
  &:hover
    transition: 0.3s
    border-color: inherit