@import './vars.sass'
button
  padding: 12px 25px
  border-radius: $radius-md
  font-family: $font-bold
  border: 0
  outline: none
  font-size: 18px
  cursor: pointer
  transition: 0.3s
  background-color: $color-primary
  color: #ffffff
  white-space: nowrap
  &:hover
    background-color: darken($color-primary, 7%)
    transition: 0.3s

  &.small
    font-size: 13px
    padding: 10px 20px

  &.accent
    background-color: $color-accent
    color: $color-accent-darken
    &:hover
      background-color: darken($color-accent, 20%)

  &.translucid
    background-color: rgba(255,255,255,0.1)
    color: #fff

  &.rounded
    border-radius: 50px
    text-transform: uppercase
  &:disabled
    opacity: 0.5


.tabs-wrapper
  display: flex
  .tab
    padding: 7px 20px
    border-radius: 50px
    background: white
    color: $color-primary
    font-weight: bold
    cursor: pointer
    transition: 0.3s ease-in-out
    &:not(:last-child)
      margin-right: 20px
    &:hover
      background: lighten($color-primary, 38%)
    &.active
      background: lighten($color-primary, 35%)

