@import './buttons.sass'
@import './fonts.sass'
@import "./forms.sass"
@import './nav.sass'
@import './vars.sass'
@import './wrappers.sass'
@import "./fa-scss/fontawesome.scss";
@import "./fa-scss/duotone.scss";
*
  box-sizing: border-box

html
  @media (max-width: 767px)
    font-size: 13px

body
  font-family: $font-body
  background-color: #ffffff
  color: $color-grey
  padding-top: 40px
  font-size: 16px
  margin: 0
  font-weight: 300
  line-height: 1.2
  // max-width: 1400px
  // margin: auto
  // padding-top: 0
  // @media (min-width: 768px)
  //   padding: 40px 80px
  //   padding-top: 0

.page-enter-active, .page-leave-active
  transition: opacity .5s

.page-enter, .page-leave-to
  opacity: 0

.fad
  color: $color-primary


  