@import './buttons.sass'
@import './fonts.sass'
@import "./forms.sass"
@import './nav.sass'
@import './vars.sass'
@import './wrappers.sass'
@import "./fa-scss/fontawesome.scss"
@import "./fa-scss/duotone.scss"
@import "./tabs.sass"
*
  box-sizing: border-box

html
  @media (max-width: 767px)
    font-size: 13px

body
  font-family: $font-body
  background-color: #fff
  color: $color-grey-darken-3
  padding-top: 40px
  font-size: 1.2rem
  margin: 0
  font-weight: 300
  line-height: 1.4

body.dark, section.dark
  background: #000
  color: $color-grey-lighten-3

.page-enter-active, .page-leave-active
  transition: opacity .5s

.page-enter, .page-leave-to
  opacity: 0

.fad
  color: $color-primary

.hidden
  opacity: 0 !important

.bg-gradient-1
  transition: 0.3s ease-in-out
  background: rgb(3,44,157)
  background: linear-gradient(45deg, rgba(48,50,205,1) 0%, rgba(48,104,255,1) 48%, rgba(108,176,255,1) 100%)

.text-gradient-1, .text-gradient-1-child > *, .text-gradient-2, .text-gradient-2-child > *, .text-gradient-3, .text-gradient-3-child > *, .text-gradient-4, .text-gradient-4-child > *, .text-gradient-5, .text-gradient-5-child > *
  transition: 0.3s ease-in-out
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  -moz-background-clip: text
  -moz-text-fill-color: transparent
  background-size: 300%
  background-position: 100%
  background-repeat: repeat
  background-image: linear-gradient(45deg, rgba(48,50,205,1) 0%, rgba(48,104,255,1) 70%, rgba(108,176,255,1) 100%)


// .text-gradient-2, .text-gradient-2-child > *,
//   background-image: linear-gradient(45deg, rgba(48,50,205,1) 0%, rgba(48,104,255,1) 70%, #ff6666 100%)