@import "~vue-stripe-menu/src/scss/index"

// >>> CSS style <<<
// @import 'vue-stripe-menu/dist/vue-stripe-menu.css';

.logo_dark
    display: none
.logo_light
    display: block

.vsm-menu
    margin: 10px 0
    width: 100%
    ul
        margin: 0 auto
    li
        margin-bottom: 0 !important

.vsm-root
    display: flex
    align-items: center
    justify-content: center

.logo
    flex: 1 1 auto

.vsm-link-container
    display: flex
    flex: 1 1 auto
    justify-content: center

.vsm-section_menu > *
    padding: 0 25px
    font-weight: 500
    font-family: inherit

.vsm-link
    font-size: 1.2rem
    position: relative
    color: $color-grey-darken-3
    text-decoration: none
    a, a:visited
        color: $color-grey-darken-3
    &:hover, &.nuxt-link-active, a.nuxt-link-active, &.vsm-active
        color: #000

.content,
.content--secondary,
.mobile-content
    padding: 30px
    border-radius: $spacing-md !important
.content--secondary
    padding-top: 10px
    padding-bottom: 10px

.dropdown--section_title
    font-size: 14px
    font-weight: 600
    text-transform: uppercase
    margin-bottom: 20px
    color: $color-grey-darken-1
    font-family: $font-bold
    &:not(:first-child)
        margin-top: 20px

.dropdown-wrap__content
    display: flex
    align-items: flex-start
    flex-direction: row
    color: $color-grey-darken-3
    text-decoration: none
    padding: 15px 15px
    margin: 0px 0px 0 -15px
    font-family: $font-bold
    font-size: 16px
    transition: 0.3s ease-in-out
    position: relative
    padding-right: $spacing-xlg
    border-radius: 20px
    &:after, &:before
        transition: 0.2s ease-in-out
        opacity: 0
        transform: translateX(-50%)
        position: absolute
        right: 20px
        font-family: 'Font Awesome 5 Duotone'
    &:after
        content: '\f061'
        color: $color-primary
    &:before
        content: '\10f061'
        color: rgba($color-primary, 0.5)
    &:not(.deactivated):hover
        background: $color-grey-lighten-3
        color: $color-grey-lighten-3
        transition: 0.3s ease-in-out
        &:after, &:before
            transition: 0.2s ease-in-out
            opacity: 1
            transform: translateX(0%)
    .title_menu
        color: $color-grey-darken-3
        margin: 0
        font-size: 1.1rem

    & > *
        margin-left: 10px

    i
        margin: 0
        margin-top: 3px
        flex: 0 0 30px

    &:not(:last-child)
        margin-bottom: 5px

    &.type1
        span
            margin-left: 10px

    &.type2
        align-items: flex-start
        & > div
            margin-left: 10px
        .content--bottom
            color: $color-grey-lighten-3
    .subtitle_menu
        color: $color-grey
        font-family: $font-body
        font-weight: 100
        margin-top: 5px
        margin-bottom: 0

.feature-dropdown
    display: flex
    background: #fff
    &>*
        min-width: 350px
    &>*:not(:last-child)
        margin-right: $spacing-lg

.enterprise-dropdown
    width: 500px

.vsm-background
    border-radius: 0 !important
    background: transparent !important
    box-shadow: none

.vsm-mob-line
    border-radius: 10px
    height: 4px
    &:nth-child(2)
        margin-top: 3px
        margin-bottom: 3px

.vsm-mob-close
    position: sticky
    right: -20px
    top: -20px
    width: 50px
    height: 50px
    cursor: pointer
    z-index: 1
    margin-left: auto
    margin-top: -20px
    margin-bottom: -20px
    margin-right: -20px

.vsm-mob-line,.vsm-mob-close:before, .vsm-mob-close:after
    background: $bg-dark-lighten-1

.vsm-arrow
    z-index: 1
    background: #fff

.deactivated
    opacity: 0.4

.vsm-dropdown-container
    border-radius: 20px
    box-shadow: 0 50px 100px -20px #32325d40, 0 30px 60px -30px #0000004d, 0 -18px 60px -10px #00000008

// MOBILE
.vsm-mob-full.logo
    margin-left: $spacing-md

.vsm-mob-content__wrap
    border-radius: $spacing-md
    padding: $spacing-md
    white-space: initial
    line-height: 1.2em
    background: #fff
    border: 2px solid var(--terciary)
    max-height: 80vh
    overflow: auto

    .dropdown-wrap__content
        flex-direction: row
        align-items: flex-start
        padding: 10px

        i
            flex: 0 0 30px
            width: 20px
            margin-right: $spacing-sm
            margin-left: $spacing-sm
        .subtitle_menu
            font-size: 1rem

    .other-sections
        padding: $spacing-md
        background: $color-grey-lighten-3
        display: flex
        flex-direction: column
        align-items: center
        margin: 20px -20px -20px -20px
        a
            text-decoration: none

nav
    .demo-button
        display: none
    .demo-button
        margin-left: $spacing-lg
        color: #fff
    .login-button
        background-color: $color-black
        color: #fff
    .login-button:hover
        background-color: $color-accent

.vsm-menu.dark
    .logo_dark
        display: block
    .logo_light
        display: none

    .vsm-link
        color: $color-grey-lighten-3
        a, a:visited
            color: $color-grey-lighten-3
        &:hover, &.nuxt-link-active, a.nuxt-link-active, &.vsm-active
            color: #fff

    .dropdown--section_title
        color: $color-grey-lighten-1

    .dropdown-wrap__content
        color: $color-grey-lighten-3
        &:not(.deactivated):hover
            background: $bg-dark-lighten-2
            color: $color-grey-lighten-3
        .title_menu
            color: $color-grey-lighten-3
            font-size: 1.1rem
        &.type2
            .content--bottom
                color: $color-grey-lighten-1
        .subtitle_menu
            color: $color-grey
    .feature-dropdown
        background: $bg-dark-lighten-1

    .vsm-arrow
        z-index: 1
        background: $bg-dark-lighten-1

    nav
        .demo-button
            border-color: $color-grey-lighten-1
            color: $color-grey-darken-3
            background: $color-grey-lighten-3

    .other-sections
        background: $bg-dark-lighten-2

    .vsm-mob-content__wrap
        background: $bg-dark-lighten-1

    .vsm-mob-line,.vsm-mob-close:before, .vsm-mob-close:after
        background: $color-grey-lighten-1
