
// COLORS
// $color-primary: #191970
// $color-accent: #7FFFD4
// $color-accent-darken: #1c7a49
// $color-grey-lighten-1: #b4b4b4
// $color-grey-lighten-2: #d8d8d8
// #fa00b1
// #e03baf
// #30bec0
// #eda058
// #009e6d    
// #3d40cf
// #566bff
// #0963ff
// #0055ff
// #0943ff
// #2963ff
// #3ddc97
// #ff5b4a
// #8E9AA5
$color-primary: #0088ff
$color-warning: #ffbb00
$color-accent: #FF6666
$color-secondary: #3fc1ab
$color-accent-darken: #1c7a49
$color-grey-lighten-1: #b4b4b4
$color-grey-lighten-2: #d8d8d8
$color-grey-lighten-3: #f3f4f5

$color-grey-darken-1: #8E9AA5
$color-grey: $color-grey-darken-1
$color-grey-darken-2: #666
$color-grey-darken-3: #22262f
$color-black: #000
$color-error: #fa00b1

$bg-dark: #000    
$bg-dark-lighten-1: #0e121e
$bg-dark-lighten-2: #121828

// END COLORS

// FONTS
$font-black: 'Futura-Black', sans-serif
$font-bold: 'Futura-Bold', sans-serif
$font-book: 'Futura-Book', sans-serif
$font-body: 'Futura-Book', sans-serif
// END FONTS

// SPACING
$spacing-xsm: 5px
$spacing-sm: 10px
$spacing-md: 20px
$spacing-lg: 30px
$spacing-xlg: 40px

// END SPACING    

// RADIUS
$radius-sm: 10px
$radius-md: 16px
$radius-lg: 20px

$padding-4-md: 0.75em 1.4em 0.7em 1.4em
// END RADIUS

// SHADOW
$box-shadow-1: 2px 6px 20px -6px rgba(0, 0, 0, 0.3)


\:root
    --bg-main: #fff
    --primary: #{$color-primary}
    --text-primary: #{$color-grey-darken-3}
    --text-primary-inverted: #{$color-grey-lighten-3}
    --bg-primary: #{$color-grey-darken-3}
    --bg-primary-inverted: #{$color-grey-lighten-3}
    --bg-secondary: #{$color-grey-lighten-3}
    --bg-terciary: #{$color-grey-lighten-2}
    --secondary: #{$color-grey-darken-1}
    --terciary: #{$color-grey-lighten-2}
    --link: #{$color-grey-lighten-3}
    --link: #{$color-grey-lighten-3}
    --link-secondary: #fff
    --link-inverted: #{$color-grey-darken-2}
    --link-inverted-hover: #000

\:root.dark
    --bg-main: #{$bg-dark}
    --primary: #{$color-primary}
    --text-primary: #fff
    --text-primary-inverted: #{$color-grey-darken-3}
    --text-secondary: #{$color-grey-darken-1}
    --text-secondary-inverted: #{$color-grey-darken-3}
    --bg-primary: #{$color-grey-lighten-3}
    --bg-primary-inverted: #{$color-grey-darken-3}
    --bg-secondary: #{$bg-dark-lighten-1}
    --bg-terciary: #{$bg-dark-lighten-2}
    --secondary: #{$color-grey-lighten-1}
    --terciary: #{$color-grey-darken-1}
    --link: #{$color-grey-lighten-3}
    --link-secondary: #fff
    --link-inverted: #{$color-grey-darken-2}
    --link-inverted-hover: #000



.bg-gradient-1
  transition: 0.3s ease-in-out
  background: rgb(3,44,157)
  background: linear-gradient(45deg, rgba(48,50,205,1) 0%, rgba(48,104,255,1) 48%, rgba(108,176,255,1) 100%)

.text-gradient-1, .text-gradient-1-child > *, .text-gradient-2, .text-gradient-2-child > *, .text-gradient-3, .text-gradient-3-child > *, .text-gradient-4, .text-gradient-4-child > *, .text-gradient-5, .text-gradient-5-child > *
  transition: 0.3s ease-in-out
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  -moz-background-clip: text
  -moz-text-fill-color: transparent
  background-size: 300%
  background-position: 100%
  background-repeat: repeat
  background-image: linear-gradient(45deg, rgba(48,50,205,1) 0%, rgba(48,104,255,1) 70%, rgba(108,176,255,1) 100%)

.bg-gradient-2
  transition: 0.3s ease-in-out
  background: rgb(3,44,157)
  background: linear-gradient(45deg, rgba(48,50,205,1) 0%, rgba(48,104,255,1) 60%, rgb(255, 102, 102) 100%)

.text-gradient-2, .text-gradient-2-child > *
  background-image: linear-gradient(45deg, rgba(48,50,205,1) 0%, rgba(48,104,255,1) 60%, rgb(255, 102, 102) 100%)