.container
  padding: 20px

.vertical-container
  padding: 20px 0

section
  margin: 50px auto
  padding: 20px
  @media (min-width: 768px)
    margin: 100px auto

.section-headers
  display: flex
  flex-wrap: wrap
  flex-direction: column
  align-items: center
  max-width: 550px
  margin: auto
  text-align: left
  @media (min-width: 768px)
    text-align: center
  p
    color: $color-grey
.main-wrapper
  min-height: 100vh
  display: flex
  flex-direction: column
// .main-content
//   margin-top: 40px
//   @media (min-width: 768px)
//     margin-top: 100px
.main-content section, footer section
  max-width: 1400px
  @media (min-width: 768px)
    padding: 40px 80px
    padding-top: 0
.fw-container
  width: 100%
  height: auto
  position: relative

.fw-container-side
  width: 100%
  height: auto
  position: relative
  margin-left: -50vw
  left: 50%

.fw-container-absolute
  position: absolute
  width: 100%
  height: auto
  left: 0

.claim-container
  display: flex
  flex-wrap: wrap
  align-items: stretch
  position: relative
  @media (max-width: 767px)
    position: relative

  &.left
    .claim-side-img
      margin: $spacing-lg
    .claim-info-wrapper
      margin: $spacing-lg
  .claim-info-wrapper
    flex: 1 1 auto
  .claim-info
    max-width: 500px
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 10px
    margin-bottom: 40px
    justify-content: center
    text-align: left
    @media (min-width: 768px)
      align-items: flex-start
      text-align: left
    &.right
      @media (min-width: 768px)
        align-items: flex-end
        text-align: right
        margin-left: auto
    .title
      margin: 0 0 40px 0
    .subtitle
      margin: 0 0 40px 0
      max-width: 440px
      color: $color-grey
      font-size: 1.2rem
      font-weight: 100
      font-family: $font-body
      line-height: 2rem
  .claim-side-img
    display: flex
    flex: 1 1 auto
    justify-content: flex-end
    align-items: center
    max-width: 100%
    &>img
      flex: 1 1 auto
      min-width: 300px
      max-width: 500px

.highlights-container
  display: flex
  flex-wrap: wrap
  text-align: center
  article
    padding: 0 20px
    flex: 1 1 100%
    @media (min-width: 768px)
      flex: 1 1 33.33%
    @media (min-width: 1200px)
      padding: 0 60px
  &.pins
    article
      @media (min-width: 1200px)
        padding: 0 80px
  .article-container
    padding: 20px 0
    display: flex
    flex-direction: column
    max-width: 300px
    h4
      margin-top: 0
      margin-bottom: 0
    .article-img-container
      padding: 0 20px
      img
        width: 100%
    .article-header
      padding: 20px
      background: lighten($color-primary, 35%)
      color: $color-primary
      width: 100%
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      border-radius: 10px
      margin-bottom: 20px
      .big
        font-size: 40px
        margin-bottom: 10px

.features-wrapper
  display: flex
  flex-direction: column
  align-items: center
  h1
    max-width: 900px
  .features-container
    display: flex
    flex-wrap: wrap
    margin-top: $spacing-lg
    .features-item
      display: flex
      flex-wrap: nowrap
      flex-direction: column
      width: 100%
      margin: 20px auto
      text-align: center
      justify-content: center
      align-items: center
      max-width: 350px
      @media (min-width: 768px)
        width: 50%
      @media (min-width: 1200px)
        width: 33.33%
      h4
        margin: 20px auto
        line-height: 1.5em
        font-size: 1.5rem
        max-width: 250px

img.screenshot
  min-width: 120px
  max-width: 180px
  box-shadow: 2px 6px 20px -6px rgba(0,0,0,0.3)
  border-radius: 15px

  &.lg
    min-width: 120px
    max-width: 220px

.screenshots-container
  display: flex
  perspective: 300px
  overflow: visible
  width: 100%
  @media(min-width: 768px)
    width: auto
  .screenshot-container
    flex: 0 1 auto
    align-self: center
    transform: rotateY(7deg)
    &:nth-child(1) .screenshot
      transform: translateX(30px)
    &:nth-child(2) .screenshot
      transform: translateX(0px)
    &:nth-child(3) .screenshot
      transform: translateX(-20px)

    @media(min-width: 768px)
      &:nth-child(1) .screenshot
        transform: translateX(70px)
      &:nth-child(2) .screenshot
        transform: translateX(0px)
      &:nth-child(3) .screenshot
        transform: translateX(-55px)
    img.screenshot
      width: 100%
      height: auto

.claim-info, .features-wrapper
  a
    margin-top: 20px

code
  background: lighten($color-primary, 40%)
  color: darken($color-primary, 30%)
  padding: 5px
  border-radius: 5px
  display: inline-block
  b
    color: $color-primary

pre
  code
    display: block
    overflow-x: auto

.banner-info, .banner-error, .banner-warning
  padding: 10px 20px
  background: lighten($color-primary, 35%)
  color: $color-primary
  border-radius: $radius-sm

.banner-error
  background: lighten($color-error, 35%)
  color: $color-error

.banner-warning
  background: lighten($color-warning, 45%)
  color: $color-warning

.page-side-nav
  display: flex
  max-width: 1200px
  flex-wrap: wrap
  &>div
    max-width: 800px
    overflow: auto
    @media (min-width: 768px)
      margin-left: 300px
    &>div
      overflow: auto

  nav
    display: flex
    flex-direction: column
    margin-right: 100px
    font-size: 20px
    @media (min-width: 768px)
      position: fixed
      float: left
    a
      padding: 10px 40px 10px 10px
      border-radius: 0 50px 50px 0
      transition: 0.3s ease-in-out
      &:hover
        background: lighten($color-primary, 37%)
        cursor: pointer
    a.active
      background: lighten($color-primary, 37%)
      color: $color-primary
