@import './vars.sass'
.container
  padding: 20px

.vertical-container
  padding: 20px 0

@media (min-width: 768px)
  .main-content
    padding: 0 20px

section
  margin: 50px auto
  padding: 20px
  @media (min-width: 768px)
    margin: 100px auto

.section-headers
  display: flex
  flex-wrap: wrap
  flex-direction: column
  align-items: center
  max-width: 800px
  margin: auto
  margin-bottom: $spacing-lg
  text-align: left
  padding: $spacing-md
  @media (min-width: 768px)
    text-align: center
  p
    color: var(--text-secondary)
.main-wrapper
  min-height: 100vh
  display: flex
  flex-direction: column

//   margin-top: 40px
//   @media (min-width: 768px)
//     margin-top: 100px
.main-content section:not(.fw-container), footer section
  max-width: 1600px
  @media (min-width: 768px)
    padding: $spacing-lg
    padding-top: 0
  &.container-md
    max-width: 1200px

.fw-container, .fw-container--light, .fw-container--dark
  width: 100%
  height: auto
  position: relative
  padding: 0px

  &--light
    background: #fafafa
  &--dark
    background: $color-black
    color: $color-grey-lighten-3
    h1, h2, h3, h4, h5, h6
      color: white

  @media (min-width: 768px)
    padding: 40px
    margin: 0 -20px
    width: calc(100% + 40px)
  section
    padding: 20px
    margin: auto

.fw-container-side
  width: 100%
  height: auto
  position: relative
  margin-left: -50vw
  left: 50%

.fw-container-absolute
  position: absolute
  width: 100%
  height: auto
  left: 0

.card
  .claim-container
    .claim-side-img
      margin: auto
      margin-right: $spacing-lg
      img
        max-width: 100%

.subtitle
  margin: 0 0 40px 0
  color: $color-grey
  font-size: 1.2rem
  font-weight: 100
  font-family: $font-body
  line-height: 2rem

.claim-container
  display: flex
  flex-wrap: wrap
  align-items: stretch
  position: relative
  @media (max-width: 767px)
    position: relative

  .claim-side-img
    margin: auto

  &.left
    .claim-side-img
      order: -1
    .claim-info-wrapper
      padding: $spacing-lg 0
      @media (min-width: 768px)
        padding: $spacing-lg
  .claim-info-wrapper
    flex: 1 1 calc(50% - 60px)
  .claim-info
    max-width: 700px
    flex: 1 1 calc(50% - 60px)
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 10px
    margin-bottom: $spacing-xlg
    justify-content: center
    text-align: left
    @media (min-width: 768px)
      align-items: flex-start
      text-align: left
    &.right
      @media (min-width: 768px)
        align-items: center
        text-align: right
        margin-left: auto
    .title
      margin: 0 0 40px 0
    .subtitle
      max-width: 440px

.hero-wrapper
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  max-width: 70%
  margin: auto
  text-align: center
  @media (max-width: 768px)
    max-width: 100%
    text-align: left
  .hero-header_wrapper
    margin-bottom: 70px

.claim-container .claim-side-img.diagram
  margin: auto
  padding: 0
  & > img
    width: 100%
    padding: 20px
    min-width: 200px
    max-width: 350px

.highlights-container
  display: flex
  flex-wrap: wrap
  text-align: center
  article
    padding: 0 20px
    flex: 1 1 100%
    @media (min-width: 768px)
      flex: 1 1 33.33%
    @media (min-width: 1200px)
      padding: 0 60px
  &.pins
    article
      @media (min-width: 1200px)
        padding: 0 80px
  .article-container
    padding: 20px 0
    display: flex
    flex-direction: column
    max-width: 300px
    margin: auto
    h4
      margin-top: 0
      margin-bottom: 0
    .article-icon-container
      padding: 20px
      height: 100px
      display: flex
      align-items: center
      justify-content: center
    .article-img-container
      padding: 20px
      img
        width: 100%
    .article-header
      padding: 20px
      background: lighten($color-primary, 35%)
      color: $color-primary
      width: 100%
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      border-radius: 10px
      margin-bottom: 20px
      font-weight: 500
      .big
        font-size: 40px
        margin-bottom: 10px

  &.two-cols
    .article-container
      max-width: 450px
      p
        text-align: center

.cards-wrapper_flex
  display: flex
  flex-direction: column
  flex-wrap: wrap
  align-items: flex-start
  justify-content: center
  h1
    max-width: 900px
  .features-container
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin-top: $spacing-sm
    width: 100%
    & > *
      flex: 1 1 auto
      &:first-child
        margin-left: -$spacing-sm
      &:last-child
        margin-right: -$spacing-sm
    .features-item
      // display: flex
      // flex-wrap: nowrap
      // flex-direction: column
      // width: 100%
      margin: $spacing-sm
      // text-align: center
      // justify-content: center
      // align-items: center
      // max-width: 350px
      // @media (min-width: 768px)
      //   width: 50%
      // @media (min-width: 1200px)
      //   width: 33.33%

      h4
        margin: $spacing-md
        line-height: 1.5em
        font-size: 1.5rem
        max-width: 250px

img.screenshot
  min-width: 120px
  max-width: 180px
  box-shadow: 2px 6px 20px -6px rgba(0,0,0,0.3)
  border-radius: 15px

  &.lg
    min-width: 120px
    max-width: 220px

.screenshots-container
  display: flex
  justify-content: center
  margin: auto
  perspective: 300px
  overflow: visible
  width: 100%
  @media(min-width: 768px)
    width: auto

  &.align-top
    align-self: flex-start

  .screenshot-container
    flex: 0 1 auto
    align-self: center
    transform: rotateY(7deg)
    &:nth-child(1) .screenshot
      transform: translateX(30px)
    &:nth-child(2) .screenshot
      transform: translateX(0px)
    &:nth-child(3) .screenshot
      transform: translateX(-20px)

    @media(min-width: 768px)
      &:nth-child(1) .screenshot
        transform: translateX(70px)
      &:nth-child(2) .screenshot
        transform: translateX(0px)
      &:nth-child(3) .screenshot
        transform: translateX(-55px)
    img.screenshot
      width: 100%
      height: auto

.claim-info, .cards-wrapper_flex
  a
    margin-top: 20px

html.dark
  code
    color: lighten($color-primary, 40%)

code
  font-family: monospace
  background: rgba($color-primary, 10%)
  color: #ff8e33
  font-size: 13px
  padding: 0 5px
  border-radius: 5px
  display: inline-block
  b
    font-family: monospace

  &.code-block
    padding: 25px
    border-radius: 25px

.banner-info, .banner-error, .banner-warning
  padding: 10px 20px
  background: rgba($color-primary, .1)
  color: $color-primary
  border-radius: $radius-sm

.banner-error
  background: rgba($color-error, .1)
  color: $color-error

.banner-warning
  background: rgba($color-warning, .1)
  color: $color-warning

.page-side-nav
  display: flex
  max-width: 1600px
  flex-wrap: wrap
  z-index: -1
  &>div
    max-width: 800px
    // overflow: auto
    h3
      position: sticky
      background: var(--bg-main)
      width: 100%
      top: 60px
      transition: 0.3s ease-in-out
    @media (min-width: 768px)
      margin-left: 300px
    &>div
      overflow: auto

  nav
    display: flex
    flex-direction: column
    margin-right: 100px
    font-size: 20px
    @media (min-width: 768px)
      position: fixed
      float: left
    a
      padding: 10px 20px 10px 20px
      border-radius: 50px 50px
      transition: 0.3s ease-in-out
      margin-bottom: 10px
      &:hover
        color: $color-primary
        cursor: pointer
    a.active
      background: rgba($color-primary, .15)
      color: $color-primary

nav
  font-family: $font-bold

.centered-block
  text-align: center

.accordion__wrapper
  border-radius: $spacing-md
  overflow: hidden
  & > *
    background: lighten($color-primary, 40%)
    color: darken($color-primary, 30%)
    padding: $spacing-md $spacing-md
  .accordion__title
    font-family: $font-bold
    cursor: pointer
  .accordion__content
    max-height: 0
    transition: 0.5s ease-in-out
    padding: 0 $spacing-md
    overflow: auto

  &.active
    .accordion__content
      padding: $spacing-md
      transition: 0.5s ease-in-out
      max-height: 500px

.list-wrapper
  display: flex
  flex-wrap: wrap
  justify-content: center
  & > *
    margin: $spacing-md
    flex: 1 1

.card
  padding: $spacing-lg
  border-radius: $radius-lg
  text-align: center
  background: rgba($color-grey-lighten-3, 1)
  transition: 1.3s ease-in-out
  position: relative
  z-index: 0

  &>:first-child
    margin-top: 0

  &--w-sm
    min-width: 200px
    max-width: 300px
    width: 100%

  &--w-md
    max-width: 500px
    width: 100%

body.dark, .fw-container--dark
  .card
    background: $bg-dark-lighten-1

.light .card, .card.light
  background: rgba($color-grey-lighten-2,0.3)
  color: $color-grey-darken-3

.bullet-wrapper
  display: flex
  align-items: flex-start
  i
    font-size: 30px
    margin-right: $spacing-md
  i.bg
    background: rgba($color-primary,0.1)
    border-radius: 100px
    width: 2.5em
    height: 2.5em
    display: flex
    align-items: center
    justify-content: center

.demo_cta__wrapper
  display: flex
  align-items: center
  flex-wrap: wrap
  justify-content: center
  .demo-link
    margin-left: $spacing-md
    margin-bottom: -2px
  &.vertical
    flex-direction: column
    margin-top: $spacing-md
    .secondary
      margin-left: 0
    .demo-link
      margin-left: 0
      margin-top: $spacing-md
    button
      width: 310px
  &.dark
    .button, button
      background: #fafafa
      color: #1a1a1a
    .demo-link
      color: #fff
  &.colored
    .demo-link
      color: #fff

.flex-grow
  flex: 1 1 auto

.flex-row
  display: flex
  flex-direction: row

.flex-col
  display: flex
  flex-direction: column

.bg-shadow__wrapper
  position: absolute
  z-index: -10
  bottom: 50px
  right: 0
  left: 0
  overflow: hidden
  width: 100%
  height: 100%
  margin: -250px 0%
  box-sizing: content-box
  .bg-shadow__container
    position: absolute
    bottom: 400px
    right: -3500px
    left: -3500px
    margin: auto
    opacity: 1
    width: 3500px
    height: 3500px

    &:after
      content: ''
      border-radius: 200%
      position: absolute
      bottom: -100px
      right: -0px
      background: #fff
      width: 100%
      height: 100%
      margin: auto
      display: block
      z-index: -1
      transition: 0.3s ease-in-out

    .bg-shadow
      bottom: 0px
      right: 0%
      left: 0%
      margin: auto
      position: absolute
      width: 30%
      height: auto
      margin-top: 0px
      animation: rotation 10s ease-in infinite
      filter: blur(100px)
      z-index: -2
      opacity: 0.5
      transform-origin: center

      &:first-child
        opacity: 0.7
        transform: rotate(180deg)
        filter: hue-rotate(-45deg) blur(75px)
        animation: rotation2 15s ease-out infinite

.dark-illustration
  display: none

.light-illustration
  display: block

body.dark
  .dark-illustration
    display: block
  .light-illustration
    display: none
  .bg-shadow__wrapper
    .bg-shadow__container
      &:after
        transition: 0.3s ease-in-out
        background: $bg-dark

.highlight-container
  color: #fff
  &, &.card
    @extend .bg-gradient-1
  h3
    color: #fff
    margin-bottom: 0
  .subtitle
    color: $color-grey-lighten-3
  .fad
    color: #fff
